@charset "ISO-8859-1";

    .fas{
position: relative;
top: 150px;
padding-left:  40px;
      color: white;
      font-size:50px;

    }.black{
background-color: black;
height: 100px;


 }.connn{
  position: relative;color: white;
  text-align: center;
  font-size: 70px;
  font-family: interlude;
 }

.claret{

  position: absolute;
  color: white;
  text-align: center;
  font-size: 80px;
  font-family: SansSerif;
 }





.con{

	position: relative;
right: -280px;
	top:-450px;
	font-size:20px;

}
.con2{

position: relative;top: -450px;

}
.con3{
	position: relative;
	top:50px;

}
.con1{
right: -45px;
position: relative;
top:-480px;
 }
.card:hover{
  z-index: 1;
  transform:perspective(1000px) ;
  box-shadow: 20px 0 50px rgba(0,0,0,0.5) ;


  }
  .card .imgBox{
    position: relative;
    width: 100%;
    height:100%;
    background-color: black;
    transform-origin: left;
    z-index:1;
    transition: 1s;


  }.card:hover .imgBox{
transform: rotateY(-135deg);





}

 .card{
position: relative;
left: 40%;

width: 200px;
height: 200px;
background-color: black;
transform-style: preserve-3d;
transform: perspective(2000px);
  transition: 1s;
  box-shadow: 300px 0 50px rgba(0,0,0,0.5) ;
          }
          .card .details{
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            padding: 20px;
          }
  .card-container{

width: 300px;
height:360px;
background: #fff;
border-radius:6px;
position:absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
box-shadow: 0px 1px 10px 1px black;


 }
 .upper-container{

  height: 100px;
  background:#7f00ff; }.lowe-container{

height: 260px;
}