<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/claret.css">
    <title>{{ title }}</title>
    <!-- Compiled and minified jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $('.collapsible').collapsible();
        });
    </script>
</head>
<body style="background-image: url('/static/images/background.jpg')">
<header>
    <nav class="black" style="height: 90px">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center" style="font-family: 'Josefin Sans';font-size: 50px;margin-top: 20px">CLARET</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down"style="margin-top: 10px" >
                <li><a href="/user" ><i class="material-icons" style="font-size: 50px">account_circle</i></a></li>
                <li ><a href="/register" style="font-size: 20px">Register</a></li>
                <li><a href="/search" style="font-size: 20px">Find Donors</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="page-footer black" style="height: 300px">
    <div class="container"><h1 style="color: white"></h1>
        <div class="row" style="display: flex;">
            <div class="col l2 s12" style="margin-left: 50px">
                <h2 style="color: white;font-family: 'Josefin Sans'"><b>CLARET</b></h2>
            </div>

            <div class="col l2 s12" style="margin-left: 150px">
                <h5 class="white-text" style="margin-left: 100px">Links</h5>
                <ul>
                    <li><a class="white-text" href='/login' style="margin-left: 100px">Login</a></li>
                    <li><a class="white-text" href="/register" style="margin-left: 100px">Register</a></li>
                    <li><a class="white-text" href="/search" style="margin-left: 100px">Donors</a></li>
                    <li><a class="white-text" href="/" style="margin-left: 100px">Home</a></li>
                </ul>
            </div>
            <div class="col l3 s12" style="margin-left: 150px">
                <h5 class="white-text" style="margin-left: 150px">Resources</h5>
                <ul>
                    <li><a class="white-text" href="/benefits" style="margin-left: 150px">Benefits</a></li>
                    <li><a class="white-text" href="/types" style="margin-left: 150px">Types</a></li>
                    <li><a class="white-text" href="<!-- dynamic -->" style="margin-left: 150px">Share</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made Using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                <a class="grey-text text-lighten-4 right" href="#!">Github</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://kit.fontawesome.com/fb965e2e7d.js" crossorigin="anonymous"></script>
<script type="text/javascript">var slideIndex = 0;
showSlides();


function showSlides() {

    var i;

    var slides = document.getElementsByClassName("mySlides");

    for (i = 0; i < slides.length; i++) {

        slides[i].style.display = "none";

    }

    slideIndex++;

    if (slideIndex > slides.length) {
        slideIndex = 1
    }

    slides[slideIndex - 1].style.display = "block";

    setTimeout(showSlides, 2000); // Change image every 2 seconds

}
</script>
</body>
</html>