<!DOCTYPE html>
<html>
<head>

    <style type="text/css">

        .fas {
            position: relative;
            top: 150px;
            padding-left: 40px;
            color: white;
            font-size: 50px;

        }

        .black {
            background-color: black;
            height: 100px;


        }

        .con {
            position: relative;
            color: white;
            text-align: center;
            font-size: 70px;
            font-family: interlude;
        }

        .image {
            background-image: url("images/benefit.jpg");
            height: 200px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;


        }
    </style>
    <link type='text/css' rel='stylesheet' href='../static/main.css' media='screen,projection' ;>

    <!-- Compiled and minified jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


    <title>Side Navigation Bar</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $('.collapsible').collapsible();
        });
    </script>
</head>
<body>
<div class="black">
    <a href="#" data-activates="slide-out" class="button-collapse">
        <div class="con"> CLARET</div>
    </a>


    <ul id="slide-out" class="side-nav" style="background-color: black;">
        <li><a href="#!"><i class="fas fa-house-damage"></i></a></li>
        <br><br>
        <li><a href="#!"><i class="fas fa-user-plus"></i></a></li>
        <br><br>
        <li><a href="#!"><i class="fas fa-fire"></i></a></li>
        <br><br>
        <li><a href="#!"><i class="fas fa-blog"></i></i></a></li>
</div>
</ul>
</div><br>


<div class="row"><br><br><br>
    <div class="col s1 m1 l1">&nbsp;</div>
    <div class="col s5 m5 l5">
        <h3 style="font-family: interlude;font-size: 50px;color:purple;text-align: center;position: relative;bottom: -30px;left: 20px;">
            Health Benefits of Blood Donation</h3>
    </div>
    <div class="col s6 m6 l6">
        <div class="image"></div>
    </div>
</div>


<div class="row">
    <div class="col s1 m1 l1">&nbsp;</div>
    <div class="col s10 m10 l10">
        <h3 style="font-family: interlude;font-size: 30px;color:black;text-align: center;">
            The spider bite will not transform you into a Superhero but the prick of a needle can. Each time you donate
            blood, you save upto three human lives. Here is some more amazing news for you! Donating blood is not only
            beneficial for the person on the receiving end but there are many health benefits of blood donation as well.
            You must have seen the posters and heard announcements about community blood drives that tell you the
            importance of blood donation. But we don’t get to hear about the health benefits of blood donation in
            relation to the donors.
            You might want to donate blood but you are not sure about its effects on your body</h3>
    </div>

    <div class="col s1 m1 l1">&nbsp;</div>
</div>

<div class="row">

    <div class="col s12 m12 l12">

        <h3 style="font-family: interlude;font-size: 40px;color:purple;text-align: center;">
            Surprising Health Benefits of Blood Donation
            <h3>
    </div>
</div>


<div class="row">
    <div class="col s1 m1 l1">&nbsp;</div>
    <div class="col s10 m10 l10">
        <h3 style="font-family: interlude;font-size: 30px;color:black;text-align: center;"> Here are some of the health
            benefits of blood donation that will surprise you.</h3>
    </div>

    <div class="col s1 m1 l1">&nbsp;</div>
</div>


<div class="row">

    <div class="col s12 m12 l12">

        <h3 style="font-family: interlude;font-size: 40px;color:red;text-align: center;">
            Reduces risk of Hemochromatosis
            <h3>
    </div>
</div>


<div class="row">
    <div class="col s1 m1 l1">&nbsp;</div>
    <div class="col s10 m10 l10">
        <h3 style="font-family: interlude;font-size: 30px;color:black;text-align: center;"> One of the major health
            benefits of blood donation is reduced risk of hemochromatosis. Hemochromatosis is the excessive amount of
            iron in the body. This excess of iron may be inherited or be caused due to alcoholism, anemia and other
            disorders. If you donate blood regularly, it will help in reducing iron in the body</h3>
    </div>

    <div class="col s1 m1 l1">&nbsp;</div>
</div>


<div class="row">

    <div class="col s12 m12 l12">

        <h3 style="font-family: interlude;font-size: 40px;color:red;text-align: center;">
            Anti-cancer benefits
            <h3>
    </div>
</div>


<div class="row">
    <div class="col s1 m1 l1">&nbsp;</div>
    <div class="col s10 m10 l10">
        <h3 style="font-family: interlude;font-size: 30px;color:black;text-align: center;"> It is believed that blood
            donation also helps in reducing risk of cancer. Donating blood maintains the iron reserves in the body The
            reduction in iron levels means reduced risk of cancer!</h3>
    </div>

    <div class="col s1 m1 l1">&nbsp;</div>
</div>


<div class="row">

    <div class="col s12 m12 l12">

        <h3 style="font-family: interlude;font-size: 40px;color:red;text-align: center;">
            Healthy heart
            <h3>
    </div>
</div>


<div class="row">
    <div class="col s1 m1 l1">&nbsp;</div>
    <div class="col s10 m10 l10">
        <h3 style="font-family: interlude;font-size: 30px;color:black;text-align: center;"> Blood donation helps in
            reducing risk of heart and liver problems caused by excess of iron in the body. Though iron is important for
            the body but as excess of everything is bad, excess of iron gets stored in heart, liver and pancreas. This
            leads to accelerated ageing, heart attacks and risk of liver failure. Blood donation maintains the iron
            levels and reduces the risk of many health problems.</h3>
    </div>

    <div class="col s1 m1 l1">&nbsp;</div>
</div>


<div class="row">

    <div class="col s12 m12 l12">

        <h3 style="font-family: interlude;font-size: 40px;color:red;text-align: center;">
            Burns calories
            <h3>
    </div>
</div>


<div class="row">
    <div class="col s1 m1 l1">&nbsp;</div>
    <div class="col s10 m10 l10">
        <h3 style="font-family: interlude;font-size: 30px;color:black;text-align: center;">When you donate blood once,
            you shed 650 Kcal. This can help you in controlling your weight. It is beneficial for those who are obese
            thus at a higher risk of having cardiovascular diseases and other health problems. However, you should not
            donate blood frequently. It can be donated safely once in two or three months. Don’t forget to consult your
            doctor before blood donation!</h3>
    </div>

    <div class="col s1 m1 l1">&nbsp;</div>
</div>


<div class="row">

    <div class="col s12 m12 l12">

        <h3 style="font-family: interlude;font-size: 40px;color:red;text-align: center;">
            Replenishment of new blood cells
            <h3>
    </div>
</div>


<div class="row">
    <div class="col s1 m1 l1">&nbsp;</div>
    <div class="col s10 m10 l10">
        <h3 style="font-family: interlude;font-size: 30px;color:black;text-align: center;"> When you donate blood, the
            body works to refill the blood loss. This results in the production of new blood cells which in turn
            maintains good health</h3>
    </div>

    <div class="col s1 m1 l1">&nbsp;</div>
</div>


<div class="row">

    <div class="col s12 m12 l12">

        <h3 style="font-family: interlude;font-size: 40px;color:red;text-align: center;">
            Joy of saving human lives
            <h3>
    </div>
</div>


<div class="row">
    <div class="col s1 m1 l1">&nbsp;</div>
    <div class="col s10 m10 l10">
        <h3 style="font-family: interlude;font-size: 30px;color:black;text-align: center;">What a wonderful feeling it
            is to help doctors save someone’s life after blood donation. There is no substitute for human blood. The
            blood you donate is separated into a variety of components as per the needs of patients. Each component can
            be used for different purpose. As the blood requirements of newborns are small, many can be benefitted by a
            single donor.</h3>
    </div>

    <div class="col s1 m1 l1">&nbsp;</div>
</div>


<div class="row">

    <div class="col s12 m12 l12">

        <h3 style="font-family: interlude;font-size: 40px;color:purple;text-align: center;">
            How much and how often to donate?
            <h3>
    </div>
</div>


<div class="row">
    <div class="col s1 m1 l1">&nbsp;</div>
    <div class="col s10 m10 l10">
        <h3 style="font-family: interlude;font-size: 30px;color:black;text-align: center;">According to the law, you can
            donate about 480 ml. of blood every 56 days. This is to make sure that there is enough time to replenish the
            red cells from your last donation.
            The body replaces all of its lost blood volume within 48 hours but the replacement of red blood cells take
            about four to eight weeks.
            The humane feelings associated with blood donation improve both the emotional and the physical health</h3>
    </div>

    <div class="col s1 m1 l1">&nbsp;</div>
</div>

<br>
<br>
<br>


<footer class="page-footer black" style="height: 450px;color: black;position: relative;bottom: -100px;">

    <div class="row">
        <div class="col s4 m4 l4"
             style="font-family: interlude;font-size: 40px;color: white;position: relative;bottom: -70px;">CLARET
        </div>
        <div class="col s1 m1 l1" style="position: relative;bottom: -70px;">


            <h5 class="white-text">Project by:</h5>

            <ul>

                <li><a class="white-text" href="https://github.com/ayush12451">Ayush</a></li>

                <li><a class="white-text" href="https://github.com/achyutshantanu">Shantanu</a></li>

                <li><a class="white-text" href="https://github.com/devashsih">Devashish</a></li>

                <li><a class="white-text" href="https://github.com/Areeb0206">Areeb</a></li>
                <br>
                <p style="color: white;">Using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                </p>

            </ul>


        </div>
        <div class="col s1">&nbsp;</div>
        <div class="col s1" style="position: relative;bottom: -70px;">

            <h5 class="white-text">Links</h5>

            <ul>

                <li><a class="white-text" href='login.php'>Login</a></li>

                <li><a class="white-text" href="register.php">Register</a></li>

                <li><a class="white-text" href="donors.php">Donors</a></li>

                <li><a class="white-text" href="index.html">Home</a></li>
                <br>
                <p style="color: white">Follow on <a class="orange-text text-lighten-3"
                                                     href="https://github.com/ayush12451/blood_bank">Github</a></p>
            </ul>
        </div>
        <div class="col s1">&nbsp;</div>

        <div class="col s1" style="position: relative;bottom: -70px;">

            <h5 class="white-text">Resources</h5>

            <ul>

                <li><a class="white-text" href='login.php'>FAQs</a></li>

                <li><a class="white-text" href="register.php">Benefits</a></li>

                <li><a class="white-text" href="donors.php">Types of Blood</a></li>

                <li><a class="white-text" href="index.html">Share your Story</a></li>

            </ul>
        </div>

    </div>


</footer>


<script src="https://kit.fontawesome.com/fb965e2e7d.js" crossorigin="anonymous"></script>

<script type="text/javascript">var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {
        slideIndex = 1
    }
    slides[slideIndex - 1].style.display = "block";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
} </script>
</body>
</html>