<!DOCTYPE html>
<html>
<head>

    <style type="text/css">

        .fas {
            position: relative;
            top: 150px;
            padding-left: 40px;
            color: white;
            font-size: 50px;

        }

        .black {
            background-color: black;
            height: 100px;


        }

        .con {
            position: relative;
            color: white;
            text-align: center;
            font-size: 70px;
            font-family: interlude;
        }

        .bt {
            font-size: 25px;
            font-family: interlude;
            color: red;
        }

        .image {
            background-image: url("images/eligible1.jpg");
            height: 320px;
            background-position: center;
            background-repeat: no-repeat;

        }
    </style>
    <link type='text/css' rel='stylesheet' href='../static/main.css' media='screen,projection' ;>

    <!-- Compiled and minified jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


    <title>Side Navigation Bar</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $('.collapsible').collapsible();
        });
    </script>
</head>
<body>
<div class="black">
    <a href="#" data-activates="slide-out" class="button-collapse">
        <div class="con"> CLARET</div>
    </a>


    <ul id="slide-out" class="side-nav" style="background-color: black;">
        <li><a href="#!"><i class="fas fa-house-damage"></i></a></li>
        <br><br>
        <li><a href="#!"><i class="fas fa-user-plus"></i></a></li>
        <br><br>
        <li><a href="#!"><i class="fas fa-fire"></i></a></li>
        <br><br>
        <li><a href="#!"><i class="fas fa-blog"></i></i></a></li>

    </ul>
</div>

<div class="row"><br><br><br>
    <div class="col s1 m1 l1">&nbsp;</div>
    <div class="col s5 m5 l5">
        <h3 style="font-family: interlude;font-size: 50px;color:purple;text-align: center;position: relative;bottom: -30px;left: 20px;">
            Eligibility for donating blood are as follows:</h3>
    </div>
    <div class="col s6 m6 l6">
        <div class="image"></div>
    </div>
</div>
<div class="row">
    <div class="col s1 m1 l1">&nbsp;</div>
    <div class="col s10 m10 l10">


        <h3 style="font-family: interlude;font-size: 39px;color:red">

            If you are eligible, you may register as a blood donor, but at the time of donating blood, follow the
            instructions mentioned below:</h3>
        <h3 style="font-family: interlude;font-size: 25px;color:black"><br>
            <p>1. Age should be between 18 and 60 years.
            </p>
            <p>
                2. You should not be suffering, or had history of cancer.
            </p>
            <p>
                3. You should not be suffering from any blood clotting disorder, such as haemophilia.
            </p>
            <p>
                4. Your weight should be 45kg or above.
            </p>
            <p>5. Minimum haemoglobin count should be 12.5gm.</p>
            <p>
                6. Pulse rate should be between 50 and 100 per minute, without any irregularities.
            </p>
            <p>
                7. Blood pressure should be, diastolic 50 to 100 mm Hg and Systolic 100 to 180 mm Hg.
            </p>
            <p>
                8. Body temperature should be normal and oral temperature should not exceed 37.5 degree Celsius.
            </p>
            <p>9. Should not have undergone any treatment for rabies or received Hepatitis B immune globulin within the
                past one year.</p>
            <p>
                10. Should not have donated blood within last three months.
            </p>
            <p>
                11. Should not have been treated for malaria within last three months.
            </p>
            <p>12. Should not have undergone any immunization within the past one month.
            </p>
            </p><br>
            <p>
                <a href="" class="waves-effect waves-default btn-flat " style="color: purple;font-size: 30px;"><b>Donate
                    Now! </b></a>
            </p>
        </h3>

    </div>
</div>


<footer class="page-footer black" style="height: 450px;color: black;position: relative;bottom: -100px;">

    <div class="row">
        <div class="col s4 m4 l4"
             style="font-family: interlude;font-size: 40px;color: white;position: relative;bottom: -70px;">CLARET
        </div>
        <div class="col s1 m1 l1" style="position: relative;bottom: -70px;">


            <h5 class="white-text">Project by:</h5>

            <ul>

                <li><a class="white-text" href="https://github.com/ayush12451">Ayush</a></li>

                <li><a class="white-text" href="https://github.com/achyutshantanu">Shantanu</a></li>

                <li><a class="white-text" href="https://github.com/devashsih">Devashish</a></li>

                <li><a class="white-text" href="https://github.com/Areeb0206">Areeb</a></li>
                <br>
                <p style="color: white;">Using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                </p>

            </ul>


        </div>
        <div class="col s1">&nbsp;</div>
        <div class="col s1" style="position: relative;bottom: -70px;">

            <h5 class="white-text">Links</h5>

            <ul>

                <li><a class="white-text" href='login.php'>Login</a></li>

                <li><a class="white-text" href="register.php">Register</a></li>

                <li><a class="white-text" href="donors.php">Donors</a></li>

                <li><a class="white-text" href="index.html">Home</a></li>
                <br>
                <p style="color: white">Follow on <a class="orange-text text-lighten-3"
                                                     href="https://github.com/ayush12451/blood_bank">Github</a></p>
            </ul>
        </div>
        <div class="col s1">&nbsp;</div>

        <div class="col s1" style="position: relative;bottom: -70px;">

            <h5 class="white-text">Resources</h5>

            <ul>

                <li><a class="white-text" href='login.php'>FAQs</a></li>

                <li><a class="white-text" href="register.php">Benefits</a></li>

                <li><a class="white-text" href="donors.php">Types of Blood</a></li>

                <li><a class="white-text" href="index.html">Share your Story</a></li>

            </ul>
        </div>

    </div>


</footer>


<script src="https://kit.fontawesome.com/fb965e2e7d.js" crossorigin="anonymous"></script>

<script type="text/javascript">var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {
        slideIndex = 1
    }
    slides[slideIndex - 1].style.display = "block";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
} </script>
</body>
</html>