{% extends 'base.html' %}

{% block content %}

<div class="slideshow-container">
    <div class="mySlides fade">
        <div class="image1">
            <br><br><br>
            <br><br><br>
            <div class="row">
                <div class="col s2 m2 l2">&nbsp;</div>
                <div class="col s10 m10 l10" style="font-size: 55px;color: white">Increased Need</div>
            </div>
            <div class="row">
                <div class="col s2 m2 l2">&nbsp;</div>
                <div class="col s10 m10 l10" style="font-size: 50px;color: white">O+ AND O+</div>
            </div>
            <div class="row">
                <div class="col s2 m2 l2">&nbsp;</div>
                <div class="col s10 m10 l10"><a href="/types" class="waves-effect waves-default btn-flat "
                                                style="color: white;font-size: 28px;position: relative;left: -25px;"><b>Types
                    of Bloods </b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="mySlides fade">
        <div class="image2">
            <br><br><br>
            <br><br><br>
            <div class="row">
                <div class="col s2 m2 l2">&nbsp;</div>
                <div class="col s10 m10 l10" style="font-size: 55px;color: white">Benefits Of</div>
            </div>
            <div class="row">
                <div class="col s2 m2 l2">&nbsp;</div>
                <div class="col s10 m10 l10" style="font-size: 50px;color: white">Blood DOnations</div>
            </div>
            <div class="row">
                <div class="col s2 m2 l2">&nbsp;</div>
                <div class="col s10 m10 l10"><a href="/benefits">
                    <button type="button" class=" waves-effect waves-default btn-flat "
                            style="color: white;font-size: 28px;position: relative;left: -25px;"><b>Benefits</b>
                    </button>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mySlides fade">
    <div class="image3">
        <br><br><br>
        <br><br><br>
        <div class="row">
            <div class="col s2 m2 l2">&nbsp;</div>
            <div class="col s10 m10 l10" style="font-size: 55px;color: white">Blood Donation</div>
        </div>
        <div class="row">
            <div class="col s2 m2 l2">&nbsp;</div>
            <div class="col s10 m10 l10" style="font-size: 53px;color: white">Saves The Lives</div>
        </div>
        <div class="row">
            <div class="col s2 m2 l2">&nbsp;</div>
            <!-- dynamic -->
            <div class="col s10 m10 l10"><a href="/register">
                <button type="button" class="waves-effect waves-light btn-flat "
                        style="color: white;font-size: 28px;position: relative;left: -25px;"><b>Register Now!</b>
                </button>
            </a>
            </div>
        </div>
    </div>
</div>

<!-- 3 cards upside down -->
<div class="container1">
    <!-- 1st card  -->
    <div class="card" style="text-align: center">
        <div class="face face1">
            <div class="content">
                <img src="/static/images/eligible1.jpg" width="170" height="100" style="position: relative;left: 70px">
            </div>
            <div class="face face2">
                <div class="content">
                    <h5>
                        <b>
                            <p style="color: white">Basic Requirements for
                                Blood Donation
                        </b>
                        </p>
                    </h5>
                    <a href="/eligible">Check Eligibility</a>
                    </b></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- 2nd card -->
    <div class="card"  style="text-align: center">
        <div class="face face1">
            <div class="content">
                <img src="/static/images/share.jpg" width="130" height="100" style="position: relative;left: 80px">
            </div>
            <div class="face face2">
                <div class="content">
                    <p style="color: white;font-size: 20px;">
                        <b>
                            Spread the Importance of blood donation and share stories.
                            <!-- dynamic -->
                    </p>
                    </b><a href="#">Share Your Story</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 3rd card -->
    <div class="card" style="text-align: center">
        <div class="face face1">
            <div class="content">
                <img src="/static/images/type.jpg" width="120" height="100" style="position: relative;left: 80px">
            </div>
            <div class="face face2">
                <div class="content">
                    <b>
                        <p style="color: white;font-size: 20px;position: relative;">Discover how certain donations impact more lives.
                        </p>
                        <a href="/types">Types of Blood</a>
                    </b>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- parallax starts -->
<!-- 1st image -->
<div class="bgimg-1" style="height: 500px;">
</div>
<br><br><br>
<!-- video -->
<div class="flex-container">
    <video controls="autoplay" style="text-align: center;height: 500px;width: 890px">
        <source src="/static/images/b.mp4" type="video/mp4">
    </video>
</div>
</video> </div>
<br><br><br>
<!-- 2nd image -->
<div class="bgimg-3" style="height: 500px;">
</div>
</div>
<!-- carousal; -->
<script type="text/javascript" language="javascript">
    $(document).ready(function () {

        $(".button-collapse").sideNav();//mobile screen menu init
        $('.carousel').carousel(); //carousel init
        $('.slider').slider({full_width: true});//slider init
    });


</script>
<br>
<div class="row">
    <!-- heading -->
    <div class="col s12 m12 l12" style="text-align: center;">
        <p style="text-align: center;color: black;font-size: 50px;color: red;letter-spacing: 20px;font-family: 'Josefin Sans'"><b>TESTIMONIALS</b></p>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12" style="text-align: center;">
        <!-- carousal images -->
        <div class="carousel " style="position: relative;bottom:150px;">
            <a class="carousel-item" href="" style="opacity: 4"><img src="/static/images/eric.png" width="400" height="300"></a>
            <a class="carousel-item" href=""><img src="/static/images/matt.png" width="400" height="300"></a>
            <a class="carousel-item" href=""><img src="/static/images/owen.png" width="400" height="300"></a>
            <a class="carousel-item" href=""><img src="/static/images/arthur.png" width="400" height="300"></a>
            <a class="carousel-item" href=""><img src="/static/images/sm.png" width="400" height="300"></a>
        </div>
    </div>
    </p>
</div>
<div class="row">
    <!-- dynamic  -->
    <div class="col s12 m12 l12" style="text-align: center;"><a href="<!-- dynamic-->"
                                                                class="waves-effect waves-default btn-flat  "
                                                                style="color: black;font-size: 32px;position: relative;bottom: 100px"><b>Share
        Your Story </b></a>
    </div>
</div>
</div>
</div>
<div class="bgimg-1" style="height: 500px;">
</div>
<!-- last paragraph -->
    <p style="text-align: center;font-size: 50PX;color: #d60f15;position: relative;left: -10px; letter-spacing: 20px;font-family: 'Josefin Sans'"><b>HOW YOU CAN HELP?</b></p>
<br>
<div class="row">
    <div class="col s2 m2 l2">&nbsp;</div>
    <div class="col s1 m1 l1">
        <!-- dynamic -->
        <div class="image4"><a href="<!-- dynamic -->" class="waves-effect waves-default btn-flat  "
                               style="color: black;font-size: 28px;width: 330px;position: relative;bottom: -300px;left: -10px;"><b>Share
            Your Story </b></a></div>
    </div>
    <div class="col s2 m2 l2">&nbsp;</div>
    <div class="col s1 m1 l1">
        <div class="image5"><a href="/types" class="waves-effect waves-default btn-flat  "
                               style="color: black;font-size: 28px;width: 330px;position: relative;bottom: -300px;left: 10px;"><b>Types
            of Blood </b></a></div>
    </div>
    <div class="col s2 m2 l2">&nbsp;</div>
    <div class="col s1 m1 l1">
        <div class="image6"><a href="/benefits" class="waves-effect waves-default btn-flat  "
                               style="color: black;font-size: 28px;width: 330px;position: relative;bottom: -300px;left: 10px;"><b>Donor
            Benefits </b></a></div>
    </div>
</div>
{% endblock %}