<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<form action="DonorS">
    Enter your City: <input type="text" name="city"/><br/>
    Enter your Bloodgroup:
    <select class="browser-default" name="bloodgroup"
            style="font-size: 20px;color: white;text-align: center;background-color: transparent;position: ">

        <option value="" disabled selected style="position: relative;left: 100px;background-color: transparent;">Blood
            Group
        </option>

        <option value="A+" style="color: black;back">A+</option>

        <option value="A-" style="color: black">A-</option>

        <option value="B+" style="color: black">B+</option>

        <option value="B-" style="color: black">B-</option>

        <option value="O+" style="color: black">O+</option>

        <option value="O-" style="color: black">O-</option>

        <option value="AB+" style="color: black">AB+</option>

        <option value="AB-" style="color: black">AB-</option>

    </select>

    <input type="submit" value="search"/>
</form>
</body>
</html>